@import url('./__logo/header__logo.css');
@import url('./__line/header__line.css');

.header {
    max-width: 882px;
    width: 100%;
    margin: 0 auto;
}

@media screen and (max-width: 914px) {
    .header {
        padding: 0 1%;
    }
}

@media screen and (max-width: 480px) {
    .header {
        padding: 0;
        width: 100%;
    }
}